.container {
    margin: .7rem 0 1rem;
    width: 100%;

    /* border: 1px solid red ; */
}

.wrapper, .wrapperConfirmDel{
    display: flex;
    align-items: start;
    justify-content: start;
    /* flex-direction: column; */
    /* padding: 5px 10px; */
    /* border: 1px solid blue; */
    position: relative;
}

.wrapper div{
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    margin: 10px 45px 10px 0;
    /* color: #e0e0e0; */
}

.wrapper div:first-child, .wrapperConfirmDel span:nth-child(2) {
    color: rgb(166, 243, 166);
    cursor: pointer;
    /* border: 1px solid white; */
    width: 50%;
}
.wrapper div:nth-child(2), .wrapperConfirmDel span:nth-child(3){
    color: rgb(200, 45, 0);
    cursor: pointer;
    /* border: 1px solid white; */
    /* margin: 5px 0; */
    width: 50%;

}


.wrapperConfirmDel span{
    font-size: 1rem !important;
}
.wrapperConfirmDel span:nth-child(1){
    color: rgb(161,161,161);
    font-weight: 900;
}