.container{
  position: fixed;
  bottom: 4rem;
  right: 1.5rem;
  z-index: 50;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.newPost{
  color: white;
  /* position: fixed; */
  bottom: 4rem;
  /* right: 1.5rem; */
  /* z-index: 50; */
}
.newPost i{
  cursor: pointer;
  font-size: 2.5rem;
}