.infoLine{
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  padding: .15rem 0rem;
  margin:  .25rem 0;
  cursor: pointer;
  transition: all .3s;
}
.infoLabel{
  font-size: .75rem;
  transform: translateY(.25rem);
  transition: all .3s;
}
.infoLine:hover .infoLabel{
  color: #d0d0d0;
}
.infoLineSpan{
  color: #b1b1b1;
  transition: all .3s;
}
.infoLine:hover .infoLineSpan {
  color: #f4f4f4;
}
.infoLineSpan::first-letter{
  text-transform: capitalize;
}
