.cardExt{
    width: 90%;
    margin: 50px auto;
    grid-auto-columns: 40%;
    /* grid-auto-rows: 200px; */
    display: grid;
    gap: 5px; 
    grid-template-areas: "numero local"
    "proxRec proxRet"
    "mais mais"
    "avaria avaria"
    "botoes botoes";
    justify-content: center;

}
.cardExt:nth-last-child(2){
    margin-bottom: 120px;
    /* display: none; */
}

textarea{
    background-color: #000;
    outline: none;
    border: 2px solid #050;
    /* margin-bottom: 80px; */
    height: 80px;
}
textarea:focus{
    outline: none;
    border: 2px solid #0a0;
}

.extSpanAvarias{
    padding: 10px 5px; 
}

#extNum {
    grid-area: numero;
    border-top-left-radius: 10px;
}
#extTipo {
    grid-area: tipo;
}
#extLocal {
    grid-area: local;
    border-top-right-radius: 10px;
}
#extProxRec {
    grid-area: proxRec;
}
#extProxRet{
    grid-area: proxRet;
}
#extMais{
    grid-area: mais;
}
#extAvaria{
    grid-area: avaria;
}
#extUltRec{
    grid-area: ultRec;
}
#extUltRet{
    grid-area: ultRet;
}
.extBtns{
    grid-area: botoes;
    border: 1px solid #0f0;
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    border-radius: 0 0 10px 10px;
    
}

.extDetail{
    border: 1px solid #0a0;
}
.extDetailSpan{
    color: #0a0;
    font-weight: 700;
}

.extEditarDataRecarga{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: calc(65% - 4px);
}

.containerCriarExt{
    width: 90%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 100px;
    /* display: grid;
    grid-template-areas: "numero tipo"
    "local ultRec"
    "ultRet ultRet"
    "avaria avaria"; */
}

.containerCriarExt #extNum{
    margin-top: 10px;
}

.containerCriarExt #extNum, .containerCriarExt #extLocal{
    /* border-top-left-radius: unset; */
    /* margin-top: 10px; */
    border-radius: 0;
}

.containerCriarExt .hdInfo{
    margin-bottom: 10px ;
    padding: 10px 0;
}
.containerCriarExt label{
    display: none;
}
.containerCriarExt span{
    margin-bottom: 10px;
}

.modalFiltro{
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    /* z-index: 5; */
    /* margin-top: 25px; */
    background-color: #000;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
}


.footerBuscarContainer{
    position: absolute;
    bottom: 0;
    background-color: #000;
    border-top: 2px solid #0a0;

    height: 70px;
    width: 100%;
    left: -101%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.toggleFooter{
    left: 0;
}

#containerBuscar, #containerFiltrar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filtroAtivo{
    color:#0f0
}

#botoesEdicao{
    flex-direction: row;
}