.gasContainer{
    /* min-height: 100vh; */
    min-width: 100vw;

}

.gasCard{
    border: 1px solid #050;
    padding: 10px;
    width: 80%;
    margin-top: 15px;
    /* display: grid;
    grid-template-columns: auto auto ; */
    gap: 10px;
    border-radius: 10px;
    /* background-color: #ddd; */
}



.gasCardData{
    /* border: 1px solid green; */
    border-radius: 5px;
    padding: 5px 0;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin: unset;
    text-align: left;
    
    
}

.gasCardContent{
    /* border: 1px solid green; */
    border-radius: 5px;
    margin: 20px 0  ;

    display: grid;
    grid-template-columns: auto auto ;
    gap: 5px;
}

.gasCardContentEdit{

    /* border: 1px solid red; */
    height: 100%;
}

.gasCardContentEdit .gasCardWrapper{
    margin: 20px 0;
}
.gasCardContentEdit .gasCardWrapper:nth-last-child(2){
    margin-bottom: 250px;
}

.gasCardWrapper{
    /* border: 1px solid green; */
    height: 10px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: unset;
}

.gasCardWrapper span:nth-child(1){
    font-size: .8rem;
}
.act{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid green; */
    border-radius: 5px;
    padding: 20px 0;
}

.confirmarDelContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.escolhasDel{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 15px;
}


.medidoresContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80vh;

}
.medidoresContainer input{
    margin-bottom: 15px;
}

.hideContent{
    display: none;
}

.gasCard:nth-last-child(2){
    color: red;
    font-size: 3rem;
    margin-bottom: 150px;
}

.inputGas{
    width: 100px;
    border: none;
    color: #0a0;
}
.inputGasEditavel{
    border: 1px solid #0a0;
}


/* NOVO CSS PARA GASNOVO  */

.gasNovoContainer{
    background-color: #333;
    width: 100%;
    height: 400px;
    padding-top: 30px;
}
.gasNovoCard{
    width: 90%;
    background-color: #ddd;
    border-radius: 20px;
    /* height: 200px; */
    /* margin-top: 30px; */
}
.gasNovoHora{
    /* border: 1px solid red; */
    /* padding-left: 10px ; */
    text-align: center;
    /* margin-top: 10px ; */
    padding-top: 5px;
}
.gasNovoMedidores{
    /* border: 1px solid blue; */
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gasNovoUnd{
    /* background-color: #888; */
    width: 100px;
    height: 60px;
}
.gasNovoUnd p{
    font-size: .8rem;
}
.novoGasInput{
    width: 120px;
    border-radius: 5px;
    border: none;
    border: 2px solid #050;
}
.novoGasInput:focus{
    border: 2px solid #0a0;
}


.testContainer{
    background-color: #222;
    width: 100%;
    height: 100vh;
}