.hdContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hdInfo{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#hdPecas label{
    display: block;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* align-items: center;
    margin: 0;
    width: 100%;
    justify-content: space-evenly; */
}

/* .pecasCheck{
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-align: start;
} */

/* .hdInfo span:nth-child(1){
    font-size: .8rem;
    margin-top: 5px;
} */

.hdInfo i{
    font-size: 1rem;
    margin-top: 5px;
    /* padding: unset; */
}

.hdInfo p{
    color: #ddd;
}
/* .hdInfo span{
    color: #050;
} */

.hdCard{
    display: grid;
    grid-template-areas: "numero local pecas"
    "abrigo sinal pecas"
    "validade validade pecas"
    "avarias avarias avarias"
    "botoes botoes botoes";
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    width: 90%;
    margin: 40px auto;
    padding: 5px;
    color: #777;
    border-radius: 10px;

}
.hdCard :is(input, select){
    color: #aaa;
}


.hdCard:nth-last-child(2){
    margin-bottom: 100px;
}


#hdNum{
    grid-area: numero;
    /* border-top-left-radius: 10px; */
}
#hdLocal{
    grid-area: local;
}
#hdAbrigo{
    grid-area: abrigo;
}
#hdSinal{
    grid-area: sinal;
}
#hdPecas{
    grid-area: pecas;
    /* border-top-right-radius: 10px; */
    justify-content: space-evenly;
}


#hdValidade{
    grid-area: validade;
}
#hdAvarias{
    grid-area: avarias;
    /* display: none; */
}


.listaDeHds{
    width: 100%;
    height: 100%;

}

#hdActions{
    /* border: 1px solid #0a0; */
    width: 100%;
    grid-area: botoes;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
    border-radius: 0 0 10px 10px;
    color: #777;
}
#hdActions i{
    border: 3px solid transparent;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: #0007 3px 3px 3px, #2227 -3px -3px 3px, inset #2227 3px 3px 2px, inset #0007 -2px -2px 5px ;
    font-size: 1.3rem;
}

.menuRow{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid red;
}


#inputHdValidade{
    width: 200px;
}

.hdNovo{
    width: 50px;
    /* background-color: #000;
    border: 2px solid #050; */
    text-align: center;
    margin-bottom: 5px;
}
.hdNovo:focus{
    outline: none;
}
.hdLabel{
    text-align: center;
    padding: 0;
    margin: 5px;
    font-size: .8rem;
}

.hdCard select{
    margin: 10px 5px;
    font-size: .9rem;
    padding: 2px;
    width: 90%;
}

.hdCard input{
    outline: none;
    /* border: 2px solid #050; */
    /* background-color: #00; */
    margin: 10px auto;
    text-align: center;
}

.hdCard:last-child{
    margin-bottom: 100px;
}

.hdCard label{
    display: none;
}

input[type='checkbox']:checked {
    accent-color: #050;
}

.menu{
    position: sticky;
    top: 0;
    width: 100%;
    border: 2px solid #050;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000;
    /* margin-bottom: 100px; */
    padding: 10px 0;
    /* flex-direction: column; */
}

.menu select{
    width: 30%;
    margin: unset;
}

/* input{
    background-color: transparent;
    outline: transparent;
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #777;
    text-align: center;
    width: 300px;
    box-shadow: #000 inset 2px 2px 2px, inset #333 -2px -2px 2px;
} */
input[type='text']:focus, input[type='tel']:focus{
    outline: none;
    border: 2px solid #777;
    color: #ddd;
}
/* #hdPecas input[type='checkbox']{
    color: red;
} */








.extCard input[type='checkbox']{
    color: red;
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid red;
    width: 20px;

    /* margin: 0;
    padding: 0; */
}

.pecasLabel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;


}

#hdAvariasTxtArea{
    height: 100px;
}

.fieldsetFlexRow div label{
    padding: 0;
    margin: 0;
}










