.homeCardContainer{
    width: 150px;
    height: 70px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    cursor: pointer;

    box-shadow:  #0007 2px 2px 2px, inset #2227 2px 2px 2px;
    border-radius: 10px;
}

.homeCardInativo{
    cursor: not-allowed;
}

.homeCardInativo span{
    color: #555;
}

/* .homeCardInativo:hover {
    box-shadow:  #000 5px 5px 5px, inset #333 5px 5px 5px;

} */
.homeCardInativo:hover span{
    color: #aaa;
}

/* .homeCardAtivo{
    border: #050 2px solid;
    border-radius: 5px;
} */
.homeCardAtivo:hover{
    /* border: 2px solid #0a0; */
    box-shadow:  #0007 3px 3px 3px, inset #3337 3px 3px 3px;
    transform: translate(-2px, -2px);

}
.homeCardAtivo span{
    color: #050;
}
.homeCardAtivo:hover span{
    color: #0a0;
}