.homeCardContainer{
    width: 150px;
    height: 50px;
    border: 2px solid #050;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    cursor: pointer;
}

.homeCardInativo{
    border: 2px solid #500;
}

.homeCardInativo span{
    color: #555;
}

.homeCardInativo:hover {
    border: 2px solid #a00;
}
.homeCardInativo:hover span{
    color: #aaa;
}

.homeCardAtivo{
    border: #050 2px solid;
    border-radius: 5px;
}
.homeCardAtivo:hover{
    border: 2px solid #0a0;
}
.homeCardAtivo span{
    color: #050;
}
.homeCardAtivo:hover span{
    color: #0a0;
}