#iconesBottom i {
    color: #0a0;
}
#iconesBottom input::placeholder, #iconesBottom select{
    color: #050;
}
.filtroAtivo{
    color:#0f0
}

.modalInativoEsquerda{
    position: absolute;
    bottom: 0;
    background-color: #000;
    border-top: 2px solid #0a0;

    height: 70px;
    width: 100%;
    left: -101%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#containerFiltrarLocal select, #containerAutonomia select{
    margin: unset;
}

#resFiltro{
    position: absolute;
    top: 2px;
    font-size: .9rem;
    color: #0f0;
}


#containerBuscar, #containerFiltrar, #containerFiltrarLocal, #containerAutonomia{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#containerAutonomia{
    z-index: 1;
}





.modalAtivo{
    left: 0;
}
/* toggleFiltrar */