:root{
    --corEscolhida: rgb(110, 110, 110);

    --clr: #222327;

}

#wallpaper{
    width: 100%;
    height: 120px;
    background-image: url('../img/logFrameCyberpunk.jpg');
    background-size: cover;
    /* position: sticky;
    top: -60px; */
}

#foto{
    position: absolute;
    left: 30px;
    top: 75px;

    width: 80px;
    height: 80px;
    border-radius: 60px;
    border: 3px solid #000;


    /* background-image: url('../img/mtx2.jpg'); */
}

#botaoEditarPerfil{
    position: absolute;
    cursor: pointer;
    width: 120px;
    height: 30px;
    border: 2px solid rgb(161, 161, 161);
    right: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(161, 161, 161);
    top: 130px;
    /* background-image: linear-gradient(to right, #a4a, #423); */

}
#botaoEditarCancel{
    cursor: pointer;
    width: 200px;
    height: 30px;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(161, 161, 161);
    margin: 0 auto;
}
#botaoEditarPerfil, #botaoEditarCancel:hover{
    border: 2px solid var(--corEscolhida);
    color: rgb(255, 255, 255);
    box-shadow: var(--corEscolhida) 0 0 10px;
}


.dadosPerfil{
    /* border: 1px solid blue; */
    text-align: left;
    margin: 50px 30px 10px;
}

.nome{
    /* position: absolute; */
    /* top: 230px; */
    /* left: 30px; */
    font-size: 1.1rem;
    font-weight: 900;
    text-align: justify;
    /* color: rgb(161, 161, 161); */
    color: rgb(221, 221, 221);
}
.tag{
    /* position: absolute; */
    /* left: 30px; */
    /* top: 250px; */
    text-align: justify;
    font-size: .85rem;
    /* color: rgb(166, 243, 166); */
    /* color: rgb(111, 111, 111); */
    color: var(--corEscolhida);
    margin: unset;
}
.bio{
    /* position: absolute; */
    /* left: 30px; */
    /* top: 280px; */
    color: rgb(161, 161, 161);
    font-size: .8rem;
    /* border: 1px solid red; */
    /* width: calc(100vw - 60px); */
    text-align: justify;
    max-height: 100px;
    margin: 10px 0;
    /* width: 100%; */
}

#linksScroll{
    /* margin-top: 200px; */
    /* border: 1px solid green; */
    /* overflow: hidden; */
    overflow: scroll;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 2;
    scrollbar-color: transparent transparent;
}
ul{
    list-style-type: square;
    list-style: none;
    display: flex;
    min-width: 600px;
    height: 40px;
    border-bottom: 1px solid var(--corEscolhida);
    
}
li{
    margin-left: 20px;
    margin: auto auto;
    cursor: pointer;
    color: rgb(161, 161, 161);
    border-bottom: 2px solid transparent;
    
}
.liVerde{
    /* color: rgb(166, 243, 166); */
    /* color: var(--corEscolhida); */
    color: rgb(221, 221, 221);
    border-bottom: 2px solid var(--corEscolhida);
    /* box-shadow: var(--corEscolhida) inset 0 0px 10px, var(--corEscolhida) 0 0 10px ; */
    padding: 0 5px;
}
legend{
    margin-left: 10px;
    color: #fff;
    padding: 0 10px;
}
a{
    /* color: white; */
    text-decoration: none;
    margin-left: 20px;
}


#registros{
    /* border: 1px solid red; */
    width: 100%;
}

.novoRegistro{
    position: sticky;
    color: rgb(221, 221, 221);
    background-color: transparent;
    top: 101px;
    right: 30px;
    z-index: 1;
    margin: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    z-index: 2;
}
.novoRegistro span{
    border: 2px solid var(--corEscolhida);
    padding: 3px 8px;
    font-size: .8rem;
    border-radius: 20px;
    background-color: #000;
}

.lde{
    background-color: #000;
    position: relative;
}
.ldeWrapperDados div p:nth-child(2){
    text-align: left;
}

.ldeWrapperDados div{
    width: 100%;
};
.ldeContent div:first-child p{
    font-size: 5rem;
}

.ldeWrapperDados div i{
    width: 20px;
}

.extContainer{
    /* background-color: red; */
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.modalDetail{
    color: white;
    background-color: #000;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}
.modalDetailVisivel{
    visibility: visible;
    opacity: 1;
}

.modalDetail p:last-child{
    margin-top: 30px;
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);

    border: 2px solid var(--corEscolhida);
    padding: 3px 15px;
    cursor: pointer;
}
.modalDetail p:last-child:hover{
    box-shadow: var(--corEscolhida) 0 0 10px;
}
.modalDetail fieldset{
    display: flex;
    justify-content: center;
    width: 80%;
    border: 2px solid var(--corEscolhida);
    padding: 0 10px 10px;
    margin: 10px;
}

#iconDetails{
    color: rgb(161, 161, 161);
    position: absolute;
    right: 35px;
    top: 5px;
    cursor: pointer;
}

.ldeContent{
    margin: 10px 0px;
    /* background-color: #21212177; */
    /* background-image: linear-gradient(to bottom right, #2227, #3337); */
    width: 100vw;
    transition: all 1.5s;
    padding: 5px 10px ;
    border-bottom: 2px solid #5557;
    border-left: none;
    border-right: none;
    /* box-shadow: #0007 5px 5px 10px, inset #3337 3px 3px 5px; */
    position: relative;

}

.ldeContent p{
    /* margin: 0px 8px 0 8px; */
    text-align: left;
}
.invisivel{
    display: none;
}
.confirmExclude{
    color: #a00;
    font-weight: 900;
}

.ldeContent:last-child{
    margin-bottom: 170px;
    
}

.btnDelWrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.novoHdSelect, .newLde, #inputHdValidade{
    width: 160px;
    background-color: #111;
    border: 2px solid transparent;
    box-shadow: inset #000 3px 3px 3px,  #222 3px 3px 3px;
    text-align: center;
    color: rgb(161, 161, 161);
    border-radius: 5px;

}

.newLde{
    /* margin-bottom: 50px; */
    text-align: center;
    outline: none;
    width: 50px;
    /* border: 2px solid #050; */
    /* background-color: #000; */
}

.autonomia{
    width: 60px;
}

.inputEditGas{
    width: 90px;
}
.selectOkNok{
    width: 60px;
}
#inputHdValidade{
    width: 200px;
    background-color: #111;
    color: rgb(161, 161, 161);
    border: 2px solid transparent;
    margin: auto;
}

#iconFotoEdit, #iconWallpaperEdit{
    color: #aaac;
    position: absolute;
    top: 100px;
    left: 58px;
    font-size: 2rem;
    z-index: 2;
}
#iconWallpaperEdit{
top: 50px;
left: 50%;
transform: translateX(-50%);
z-index: 1;
}

#iconFotoEdit:hover, #iconWallpaperEdit:hover{
    color: var(--corEscolhida);
}

.inputEditProfile{
    color: rgb(161, 161, 161);
    width: 280px;
    text-align: left;
    /* padding-left: 20px; */
    /* margin-bottom: 20px; */
    /* border: 1px ; */
    border: none;
    border-bottom: 2px solid rgb(161, 161, 161);
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}

.navVoltarEditProfile{
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: rgb(161, 161, 161);
}
.navVoltarEditProfile:hover{
    transform: scale(1.2);
}
/* .editando{
    backdrop-filter: blur(10px);
} */

/* CROPPERJS  */
.wrapperCrop{
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid red;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

#avatar{
    position: absolute;
    
}
.preview{
    width: 100px;
    height: 100px;
    /* border: 1px solid greenyellow; */
    margin: auto;
    position: relative;
    overflow: hidden;
    /* padding-top: 46px; */
    border-radius: 200px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.reactEasyCrop_CropArea{
    width: 100%;
    height: 100%;
    border: 2px solid red;
}

.previewImg{
    max-width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(3);
}

#canv{
    /* border: 2px solid blue; */
    width: 80px;
    height: 80px;
}
.immmg{
    width: 150px;
    border: 2px solid yellow;
    height: 150px;
}
.canvasWrapper{
    width: 100px;
    height: 100px;
    /* border: 1px solid gold; */

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 300px;
    overflow: hidden;
}







.fotoPerfilWrapper{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    position: absolute;
    left: 30px;
    top: 75px;
    border-radius: 60px;
    border: 3px solid var(--corEscolhida);
    box-shadow: var(--corEscolhida) 0 0 10px;
    overflow: hidden;
    /* background-image: conic-gradient(transparent, transparent, transparent, var(--corEscolhida)); */
}

.fotoPerfil{

    max-width: 100%;
    /* height: 100%; */

}

.perfilEditModal, .perfilEditModalCrop{
    width: 100vw;
    height: 100vh;
    background-color: #000a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfilEditModalCrop{
    display: block;
}

.perfilEditModal div{
    background-color: #333;
    color: #d1d1d1;
    padding: 20px 50px;
}
.perfilEditModal div p{
    margin: 30px 0;
    font-size: 1.2rem;
    cursor: pointer;
}

#userSemFoto{
    /* border: 2px solid red; */
    background-color: #333;
    color: #a1a1a1;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 80px;
    height: 80px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dadosPerfil label{
    color: rgb(161, 161, 161);
    font-size: .8rem;
}

.editQuote, .editNome, .editNick{
    border: 2px solid transparent;
    border-bottom: 2px solid #a1a1a1;
    /* margin-bottom: 50px; */
    border-radius: 0;
    color: rgb(161, 161, 161);
    padding-left: 8px;
}
.editQuote:focus, .editNome:focus, .editNick:focus{
    border-radius: 0;
    outline: none;
    border-bottom: 2px solid rgb(166, 243, 166);
}

.wallpaperCanvasWrapper{
    width: 100%;
    max-height: 120px;
    min-height: 50px;
    height: 120px;
    overflow: hidden;

    /* position:  absolute; */
    top: 0;

}



.editInputWrapper{
    /* border: 1px solid white; */
    margin-bottom: 50px;
    position: relative;
}
.editNomeUsado, .editNickUsado{
    display: none;
    margin: 0;
    font-size: .8rem;
    color: rgb(200, 45, 0);
    position: absolute;
}

.validacaoOk{
    color: rgb(166, 243, 166);
    border-bottom: 2px solid rgb(166, 243, 166);
}
.validacaoNok{
    color: rgb(200, 45, 0);
    border-bottom: 2px solid rgb(200, 45, 0);
}

/* teste para autocompletar no login  */
    input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
}

.loadingFoto{
    display: block;
    position: absolute;
    background-color: var(--corEscolhida);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 200px;
    z-index: 5;
    animation: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* cursor: pointer; */
}


@keyframes loading {
    0%{
        /* top: -50px; */
        width: 20px;
        height: 20px;
        opacity: 1;

    }
    50%{
        /* top:100% */
        width: 70px;
        height: 70px;
    }
    100%{
        /* top: -50px; */
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

.loadingWpp{
    position: absolute;
    /* top: -50px; */
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* margin: auto auto; */
    display: block;
    /* background-image: linear-gradient(to bottom, transparent, var(--corEscolhida), transparent ); */
    background-color: var(--corEscolhida);
    animation: loadingWpp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes loadingWpp{
    0%{
        /* top: -50px; */
        width: 20px;
        height: 20px;
        opacity: 1;

    }
    50%{
        /* top:100% */
        width: 70px;
        height: 70px;
    }
    100%{
        /* top: -50px; */
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

canvas{
    cursor: pointer;
}

#saveBtn:hover{
    color: var(--corEscolhida);

    
}





/* Criacao do menu no Footer */
.menuIconHide{
    /* display: none; */
    transform: translate(0);
}
.menuAtivo{
    display: block;
    opacity: 1;
    position: absolute;
    transform: translate(-60px);
    /* border: 1px solid white; */
    border-radius: 20px;
    padding: 5px;
    background-color: #000;
    box-shadow: var(--corEscolhida) 0 0 5px;
}

.menuIcon{
    /* display: none; */
    position: absolute;
    transform: translate(-45px);
    border: 2px solid var(--corEscolhida);
    background-color: #000;
    border-radius: 30px;
    padding: 6px;


}
.menuInativo{
    color: green;
    opacity: 0;
    /* display: none; */
    position: absolute;
    top: 80px;

    /* visibility: hidden; */
}













.footer{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    position: fixed;
    bottom: 10px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
    margin: 10px auto;

    width: 350px;
    height: 75px;

}

.footer ul{
  
    display: flex;
    /* width: 350px; */
    width: 350px;

    border: 1px solid red;
}
.footer ul li{
    position: relative;
    list-style: none;
    width: 20px;
    height: 20px;
    z-index: 1;
    border: 3px solid blue;
}
.footer ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20px;
    text-align: center;
    font-weight: 500;
    border: 5px solid green;
}

.footer ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    /* font-size: 1.5em; */
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.footer ul li:hover a .icon{
    transform: translateY(-50px);
}

/* Fim da criacao do menu do Footer  */



/* CRIACAO DO RESUMO DOS EXTINTORES  */
.wrapperResume{
    border-top: 1px solid var(--corEscolhida);
    /* margin: 10px; */
    /* height: 100px; */
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;

    position: fixed;
    /* bottom: 0px; */
    bottom: -110px;
    background-color: #000;
    transition: ease-in-out .5s;

}

.extResumeWrapper, .extResumeWrapperLocais{
    /* border: 1px solid red; */ 
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    gap: 10px 0;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
    /* border-bottom: 1px solid var(--corEscolhida); */
    /* flex-direction: column; */
}
.extResumeWrapperLocais{
    border-top: 1px solid var(--corEscolhida);
    padding-top: 10px;
    /* margin-top: 20px; */
    background-color: #000;
    position: fixed;
    bottom: -140px;
    /* margin-top: 80px; */
}
.extResumeWords{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}
/* .extResumePercentages{
    border: 1px solid green;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .wrapperResume span{
    font-size: .8rem;
} */
.extTotal{
    color: #fff;
}
.extAvariados{
    color: #bb0;
}
.extProxMes{
    color: #bb0;
}
.extVencidos{
    color: #b00;
}

.progWrap{
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    color: #fff;
    /* border: 2px solid var(--coll); */
    background: #222 linear-gradient(to right, transparent 50%, var(--graphColor) 0);
    cursor: pointer;
}
.progWrap::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}

.progWrap::after{
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    background: #000;
}

.progWrap::before{
    background: var(--graphColor);
    transform: rotate(calc(((var(--p) - 50) * 0.01turn)));
}
.progWrap.less::before{
    background: #222;
    transform: rotate(calc(((var(--p) - 0) * 0.01turn)));

}

.extResumePercent{
    font-size: .7rem;
    /* background: var(--bg); */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.extResumeTitle{
    font-size: .7rem;
    cursor: pointer;
}

.graphWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px transparent solid ;
    text-align: center;
    width: 70px;
}


.btnAcoesWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.btnVerde{
    color: rgb(166, 243, 166);
    text-shadow: rgb(166, 243, 166) 0 0 10px;
    /* border: 1px solid rgb(166, 243, 166); */
    /* border-radius: 20px; */
}
.btnVermelho{
    color: rgb(200, 45, 0);
    text-shadow: rgb(200, 45, 0) 0 0 10px;
    /* border: 1px solid rgb(200, 45, 0); */
    /* border-radius: 20px; */
}

.botoesPadrao{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}
.botoesPadrao > div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.botoesPadrao > div:nth-child(2) span{
    color: rgb(161, 161, 161);
}
.botoesPadrao > div:nth-child(2) span:nth-child(3){
    color: rgb(200, 45, 0);
}

.gasNovoMedicao{
    border: 1px solid rgb(110, 110, 110);
    border-radius: 5px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.addGasLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
    /* border: 1px solid red; */
    border-top: #223 1px solid;
    padding: 15px 0;
    color: #fff;
}
.addGasLine label{
    /* color: red; */
    padding: 0;
    margin: 0 ;
    margin-right: 5px;
}
.listaAddGas div input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #555;
    height: 20px;
}
#numeroLoja, #gasMedicao{
    width: 40px;
    color: rgb(161, 161, 161);
    text-align: center;
}
#numeroLoja:focus, #gasMedicao:focus{
    outline: none;
}
#gasMedicao{
    width: 100px;
}
.gasAcoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaAddGas{
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
    padding:5px 10px;

}

#listaAddGasSpan{
    font-size: 1rem;
    color: rgb(161, 161, 161);
}

.listaAddGasLines{
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}
.listaAddGasLines i{
    color: rgb(200, 45, 0);
}
.gasAcoes i{
    color: rgb(166, 243, 166);
}

.ftr{

    width: 100%;
    height: 50px;
    background-color: #000;
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: white;
    border-top: 2px solid var(--corEscolhida);
    z-index: 2;
    /* box-shadow: 0 0 15px 15px #000; */

}
.ftr a{
    margin: 0;
}
.ftr i{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    /* border: 1px solid #555; */
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    background-color: #000;
}

.divInputBuscar{
    border-top: 1px solid var(--corEscolhida);
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 60px;
    transition: all ease-in-out .5s;
}
.divInputBuscar i{
    padding: 0 10px;
    color: rgb(161, 161, 161)
}
.divInputBuscar input{
    border-color: transparent;
    background-color: transparent;
    width: 200px;
    border-bottom: 2px solid var(--corEscolhida);
    color: rgb(161, 161, 161);
    text-align: center;
}
.divInputBuscar input:focus{
    /* border: none; */
    outline: none;
}


.footerLocais{
    width: 100%;
    border:none;
    border-top: 2px solid var(--corEscolhida);
    position: fixed;
    bottom: -155px;
    background-color: #000;
    padding: 10px 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px 0;
    transition: all ease-in-out .5s;
}

.numAvariaTextos{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-bottom: 10px;
    /* padding: 0 5px; */
}
.numAvariaTextos p:first-child{
    width: 90px;
    /* border: 1px solid white; */
    text-align: left;
    font-size: 1rem;
    color: rgb(161, 161, 161);
}
.numAvariaTextos p:nth-child(2){
    color: rgb(161, 161, 161);
}
.numAvariaTextos p:nth-child(2)::first-letter{
    text-transform: capitalize;
}

.numAvariaTextos p:nth-child(1), .numAvariaTextos p:nth-child(2){
    margin-bottom: 5px;
}

.numAvariaTextos p:last-child{
    width: 100%;
    text-align: left;
}