

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Spectral+SC:wght@700&display=swap');

:root{
  --dm-bg: #121212;
  --dm-um: #1e1e1e;
  --dm-dois: #232323;
  --dm-tres: #252525;
  --dm-quatro: #272727;
}

* {
  /* -webkit-tap-highlight-color: rgba(255, 255, 255, 0); */
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  background-color: #000;
  margin: 0 auto;
  width: 100%;
}

h3{
  color: red;
  /* text-decoration: underline; */
  color: #439a86;
  font-size: 1.25rem;
  margin: 0 0 1rem .7rem;
  font-family: 'Montserrat', sans-serif;
}
h3 i{
  font-size: 1.5rem;
}

.animateLeft{
  animation: loadleft;
  animation-duration: .3s;
}

.animeUp{
  animation: loadUp;
  animation-duration: .3s;
}

.animeFadeout{
  animation: fadeout;
  animation-duration: .5s;
}

.animeIcon{
  animation: iconLeft;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes iconLeft {
  from{
    transform: translateX(0rem);
    opacity: 0;
  }to{
    opacity: 1;
    transform: translateX(-3rem);

  }
}


@keyframes loadleft {
  from{
      transform: translate(15px);
      opacity:0
  }to{
      transform: translate(0px);
      opacity:1
  }
}

@keyframes loadUp {
  from{
    transform: translateY(15px);
    opacity: 0;
  }to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeout {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}