/* .container{
    overflow: hidden;
    max-width: 100vw;
    padding: 1rem 10px;
} */

/* .container{
    padding-top: 1rem;
} */


.title{
    color: rgb(161,161,161);

}

.legends{
    font-size: .8rem;
    margin: 0;
    padding: 0;
    color: #439A86;
    margin-top: 5px;
    transform: translate(0, 5px);
}
.legends::first-letter{
    text-transform: capitalize;
}

.values{
    font-size: 1.4rem;
    color: #BCD8C1;
    font-weight: 900;
}
.txtValues::first-letter{
    text-transform: capitalize;
}


.minorInfos i, .title i{
    color: #439A86;
    margin-right: 5px;
    font-size: 1.4rem;
}
.txtValues{
    font-size: 1rem;
    color: #BCD8C1;
}

.minorInfos div:last-child{
    width: calc(100vw - 20px);
    margin: auto 0;
    margin-bottom: 30px;
}

.nExt{
    background-color: #121;
    color: #ddd;
    /* border: 1px solid red; */
    height: 80px;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 10px;

    box-shadow: #222  0 0 3px 1px, inset #131 2px 2px 3px 1px, inset #121 -2px -2px 3px 1px ;
    margin-bottom: 15px;
    position: relative;
}
.nExt:last-child{
    margin-bottom: 150px;
}
.nNum{
    color: #ddd;
    font-size: 1.2rem;
}
.nTipo{
    font-size: 1.7rem;
}

.nTipoNumWrap{
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
}
.nSecondary{
    /* border: 1px solid red; */
    width: 175px;
}
.nSecondary, .nIconsExt{
    /* border: 1px solid red; */
    /* margin-left: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.nSecondary span, .nIconsExt span{
    font-size: .8rem;
    /* margin-left: 5px; */
}
.nIconsExt span{
    background-color: #665701;
    padding: 0px 5px;
    border-radius: 20px;
    /* margin-bottom: 5px; */
    /* border: 1px solid blue; */
    /* position: absolute;
    top: 5px;
    right: 5px; */

}
.nIconsExt{
    position: absolute;
    top: 5px;
    right: 50px;
    /* border: 1px solid purple; */

}
.wrapIconInfo{
    /* border: 1px solid green; */
    position: absolute;
    right: 20px;
}

.containerGrid{
    border-radius: 10px;
    margin: 20px 0;
    display: grid;
    justify-content: space-between;
    grid-template-areas: 
    ' cardMinor cardMinor cardMedium cardMedium'
    'cardMinor cardMinor cardMedium cardMedium'
    'avarias avarias avarias avarias'
    'btn btn btn btn';
}

.cardMinor{
    display: flex;
    align-items: start;
    width: fit-content;
    /* padding: 10px; */
    flex-direction: column;
    grid-area:cardMinor;
    background-color: #000;
    margin: unset;


}
.cardMinor div{
    display: flex;
    flex-direction: column;
    margin: unset;
}

 
.cardMedium{
    grid-area: cardMedium;
    flex-direction: column;
    margin: 5px auto;
    text-align: left;
    display: block;
}
.cardMedium div{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.cardAvarias{
    display: flex;
    flex-direction: column;
    grid-area: avarias;
    margin: unset;
}
.cardBtn{
    grid-area: btn;
    width: 100%;
}
.infoGeral{
    font-size: .8rem;
    color: #d1d1d1;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.itemContainer{
  height: 300px;
  border-radius: 1rem;
  perspective: 1000px;
  margin-bottom: 5rem;
  /* padding: .5rem .3rem; */
}
/* n  */    
.frontSide, .backSide{
    position: absolute;
    width: 95%;
    border-radius: .3rem;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    background-color: #111;
    padding: 1rem .3rem 0;      
    box-shadow:  #222a 5px 5px 20px, inset 2px 2px 5px #333;

}
.backSide{
    transform: rotateY(-180deg);
    color: #d1d1d1;
    /* padding-top: 1rem; */
    margin: 2rem 0;

}

.innerSide{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}


.wrapper, .wrapperMonths{
    display: grid;
    grid-template-columns: repeat(1, .8fr .3fr 1fr .5fr  );

}




.wrapperMonths{
     grid-template-columns: repeat(auto-fill, 20rem);
    /* flex-direction: row; */
    /* border: 1px solid red; */
}


    
.wrapper > p, .wrapperMonths > p, .flipbackCard{
    display: inline-grid;
    align-items: center;
    padding: .3rem ;
    border-radius: .5rem;
    color: #d1d1d1;
    position: relative;
    min-width: 1.5rem;
    text-align: left;
    margin: 1rem 1rem 1rem .3rem;
    font-weight: 700;
    box-shadow: inset #000 2px 2px 10px, inset #222 -2px -2px 5px ;
}

.paraAvaria{
    border: 1px solid #333;
    color: #d1d1d1;
    text-align: left;
    margin-top: 4rem;
    padding: .5rem 1rem;
    height: 13.5rem;
    background-color: #000;
}


.wrapper > p::after, .wrapperMonths > p::after, .flipbackCard::after{
    content: 'número';
    font-size: .7rem;
    position: absolute;
    left: 0;
    top: -1.2rem;
    padding: 0 .3rem;
    font-weight: 400;
}

.avariaIcon{
    position: absolute;
    right: 0;
    top: 0;
    color: red;

    
}

.flipbackCard{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset #222 3px 3px 5px, inset #000 -3px -3px 5px !important;
    position: absolute;
    right: .8rem;
    top: 1rem;
    cursor: pointer;
}
.flipbackCard::after{
    content:'voltar'
}

.item{
    background-color: #121212;
    border-radius: .5rem;
    margin: 1.25rem 1rem ;
    padding: .5rem ;;
    border: 2px solid #333;
    /* border: 2px solid rgb(51, 51, 51); */
    transition: all .3s;

}
.item:hover{
    box-shadow: #bcd8c177 0 0 7px inset, #bcd8c1aa 0 0 7px;
    border: 2px solid #BCD8C1;
}

/* .item span{
    color: var(--span-branco);
} */


.minorWrapper{
    display: grid;
    grid-template-columns: 1fr .5fr 1.25fr;
    width: 100%;
    background-color: #111;
    position: relative;
    z-index: -0;
    /* transition: all .3s; */
}


.lastCheckWrap{
    border: 2px solid #333333;
    color: #9cb8a1;
    background-color: #222222;
    padding: .2rem 2rem;
    border-radius: .5rem;
    margin: .5rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.lastCheck{
    font-size: .75rem;
}

.majorCard{
    display: flex;
    flex-direction: column;
    opacity: .2;
}

.minorWrapper .fieldset:first-child{
    margin: 0 5px 0 0;
    transition: all .3s;
}
.minorWrapper .fieldset{
    margin: 0 10px 0 5px;
    transition: all .3s;

}
.minorWrapper .fieldset:last-child{
    margin: 0;
    transition: all .3s;

}

.item:last-child{
    margin-bottom: 8rem;
}

.toogleOff{
    display: none;
    
}
.toogleOff .fieldset{
    margin: 1rem 0;
}

.fieldset, .fieldsetAvaria{
  border: 2px solid #3337;
  border-radius: .5rem;
  padding: .3rem .5rem ;
  display: grid;
  grid-template-columns: .2fr 1fr;
  background-color: #222;
  /* transition: .5s all; */
}



.fieldset span{
    margin: 0;
    background-color: #222a;
    
}

.fieldset *{
    /* border: 1px solid white; */
    margin: auto;
}


.fieldset:hover, .fieldsetAvaria:hover{
    box-shadow: inset #0007 -3px -3px 10px, inset #3337 3px 3px 10px;
    /* color: #d1d1d1; */

}

.fieldset i{
    margin: auto;
    margin-right: 1rem;
    /* color: #d1d1d1; */
}
.avaria{
    white-space: pre-line;
}
.fieldsetAvaria{
    padding-left: 1rem;
    display: block;
    margin-bottom: 0;
    margin-bottom: 1rem;
}
/* .fieldset:last-child{
    margin-bottom: 0;
} */
.fieldset span::first-letter{
    text-transform: uppercase;
}

.filterBarWrapper{
    position: sticky;
    box-shadow: 0 10px 25px #000;
    top: 2.4rem;
    background-color: #000;
    z-index: 2;
}

.filterBar{
    min-height: 3rem;
    margin: 0 auto;
    display: flex;
    width: 90%;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
    padding-top: .5rem;
    /* z-index: 5;
    position: sticky;
    top: 0; */
    /* border: 2px solid red; */
    /* background-color: #439A86; */
}

 .filterBtns{
    border: 2px solid #333;
    padding: .1rem .3rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flexbox;
    justify-content: center;
    align-items: center;
    background-color: #111;
    box-shadow: inset #3337 2px 2px 4px ,inset #0007 -5px -5px 10px;
    margin: .2rem .2rem;
    font-size: .8rem;
    position: relative;
    
}
.filterBar i{
    font-size: .8rem;
    margin: 0 .5rem;
}
.filterBtns:hover{
    color: #000;
    background-color: #439A86;
    box-shadow: inset #83dAc6 2px 2px 4px ,inset #035A46 -5px -5px 10px;
}
/* .filterBar p:last-child{
    color: red;
    width: 100%;
} */

.typeFilter{
    display: grid;
    grid-template-columns: 1fr .5fr .5fr .5fr;
    width: 100%;
}

.classChecked{
 color: red;   
}

.filterNumbers{
    border: 2px solid #8a8a8a;
    background-color: #000;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 1rem;
    position: absolute;
    font-size: .6rem;
    color: #d1d1d1;
    right: 0;
    top: -.7rem;
    font-weight: 900;
    display: none;
    justify-content: center;
    align-items: center;
}

/* NOVA VERSAO, DEZ 24  */
.content{
    border: 2px solid blue;
    margin: 1rem ;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: all .3s;
}
.gridin{
    display: grid;
    grid-template-columns: repeat(3, 1.25fr);
    transition: all .3s;
}

.actBut{
    padding: .5rem 1rem;
    cursor: progress;
    transition: all .3s;
}
.line{
    border: 1px solid blue;
    transition: all .3s;
}
.lineData{
    color: gray;
    border: 1px solid gray;
    margin: .5rem 0;
    border-radius: .5rem;
    padding: 1rem;
    transition: .3s all;
    /* opacity: .2; */
}
.topicDois{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
.fadeOut{
    color: green;
    opacity: 0;
    visibility: hidden;
}

.opened{
    /* MINOR  */
    display: block;
}
.selected{
 box-shadow: #bcd8c177 0 0 7px inset, #bcd8c1aa 0 0 7px ;   
 border: 2px solid #bcd8c1;
}