.footer{
  position: fixed;
  border-top: 1px solid #555;
  background-color: #000;
  bottom: 0;
  width: 100vw;
  height: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}

.footer i{
  font-size: 1.3rem;
  color: #d1d1d1;
  cursor: pointer;
}
