.wrapperEdicaoGas{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.inputEdicaoLoja, .inputEdicaoMedicao{
    background-color: #000;
    color: rgb(161,161,161);
    margin: 5px 0;
    text-align: center;
    border: none;
    border-bottom: 1px solid #555;
}

.inputEdicaoLoja{
    width: 50px;
}
.inputEdicaoMedicao{
    width: 150px;
}

.editActBtn{
    /* border: 1px solid #333; */
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
}

.editActBtn span:nth-child(2){
    color: rgb(166, 243, 166);
    cursor: pointer;
}
.editActBtn span:nth-child(1){
    /* color: rgb(161,161,161); */
    color: rgb(200, 45, 0);
    cursor: pointer;
}

h2{
    text-align: center;
    margin: 20px 0;
    color: rgb(161,161,161) ;
}


.addGasLine{
    border-top: 1px solid rgb(161, 161, 161);
    border-bottom: 1px solid rgb(161, 161, 161);
    /* border-radius: 10px; */
    padding:15px 10px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    background-color: #090909;
}
.addGasLine input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(161, 161, 161);
}

.edicaoContainer{
    max-width: 100vw;
}



.gasContainer{
    margin: 20px 10px;
    /* border: 1px solid #1f1f1f; */
    padding: 5px;
    border-radius: 15px;
}
.title{
    display: flex;
    justify-content: space-evenly;
}
.title .legends{
    color: #439A86;
    font-size: 1.3rem;
}

.infos{
    margin: 15px 0;
    border-radius: 15px;
    overflow: hidden;
}

.dados{
    display: flex;
    justify-content: space-between;
    padding: 2px 15px;
    align-items: center;
    flex-direction: row;
    background-color: #2b2b2b90;
    color: #BCD8C1;
}

.dados p, .infos div:first-child p{
    width: 50%;
}

.dados:nth-child(2n){
    background-color: #1f1f1f90;
}

.infos div:first-child{
    display: flex;
    background-color: #439a8690;
    color: #BCD8C1;
    font-weight: 900;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 15px;
}
.infos div:first-child p{
    font-size: 1.2rem;
}



.edicaoContainer .wrapperEdicaoGas{
    margin: 2px 10px;
}

.edicaoContainer .wrapperEdicaoGas{
    background-color: #1b1b1b;
}

.edicaoContainer .wrapperEdicaoGas:nth-child(2n){
    background-color: #1f1f1f90;
}

.edicaoContainer .wrapperEdicaoGas:first-child{
    border-radius: 15px 15px 0 0;
}

.edicaoContainer .wrapperEdicaoGas:last-child{
    border-radius: 0 0 15px 15px;
}

.edicaoContainer .wrapperEdicaoGas i{
    width: 15px;
    color: rgb(255, 61, 61);
}

.medicaoTempLoja{
    /* border: 1px solid red; */
    text-align: left;
    width:75px;
    color: #BCD8C1;
}
.medicaoTempMedicao{
    /* border: 1px solid green; */
    width: 180px;
    text-align: left;
    color: #BCD8C1;
}