.wpp{
    height: 120px;
    width: 100%;
    overflow: hidden;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -80px;
    background-color: black;
}

.imagem{
    width: 100%;  
    height: 100%;
    object-fit: cover;
}

.perfil{
    /* width: 360px; */
    z-index: 3;
    position: relative;
}

.quote{
    margin: 15px 20px;
    text-align: left;
    color: #bcd8c1;
}



.headerProfName{
    color: white;
    position: fixed;
    margin-left: 1rem;
    top:0rem;
    z-index: 50;
    text-transform: lowercase;
    visibility: hidden;
    opacity: 0;
}

.minHeader{
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 50;
}

.menu{
    border: 1px solid white;
    display: block;
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    color: #d1d1d1;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0rem;
    z-index: 50;
    right: 1rem;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
}

.fotoPerfil{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid black;
    transform: scale(1) translate(25px, -40px);
    background-color: black;
}
.nomePerfil{
    margin: 10px 0 0 25px;
    font-size: 1.2rem;
    text-align: left;
    color: #439a86;
    font-weight: 700;

    position: absolute;
    top:2.5rem;
}
.nicknamePerfil{
    text-transform: lowercase;
    font-size: .8rem;
    text-align: left;
    margin-left: 25px;
    position: absolute;
    top: 4.5rem;


}

.btnEditPerfil{
    padding: 2px 10px;
    color: #bcd8c1;
    background-color: #439a86;
    border-radius: 20px;
    position: absolute;
    top: .75rem;
    right: .75rem;
}

.canv{
    cursor: default;
}

.menuOpened{
    /* height: 500px; */
    width: 100%;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuOpened p{
    padding: 1rem 0;
    border: 1px solid transparent;
    width: 100%;
}
.menuOpened p:hover{
    border: 1px solid white;
    color: white;
    background-color: #333;
}