@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
  margin: 0;
  padding: 0;
  /* color: #050; */
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  transition: all .3s;
  user-select: none

  
}

body {
  background-color: #000;
  /* margin: 0; */
  max-width: 412px;
  /* margin: 0 auto; */
  color: #333;
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@media screen and (max-width: 412px){
  body{
    max-width: 412px;
  }
}