.txtAreaWrapper{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0 4rem;
}

.newPost{
  background-color: #000;
  border-radius: .5rem;
  padding: .5rem;
  width: 90%;
  color: #d1d1d1;
  border: 2px solid #333;
}
.newPost:focus{
  border: 2px solid #d1d1d1;
  
  outline: none;
}

.postsWrapper{
  margin-bottom: 5rem;
}

.iconsWrapper{
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
}

.fotoPerfil{
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: black;
}

.canvWrapper{
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  margin: 0 1rem 0 0;

}

.nickDate{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.postUserData{
  display: flex;
  justify-content: start;
  align-items: start;
  margin: .75rem 0;
}
.postUserData i{
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  position: absolute;
  right: .5rem;
  top: 1rem;
}
.userDataNick{
  margin: unset;
  text-transform: lowercase;
}

.iconsWrapper i{
  font-size: 1.5rem;
  cursor: pointer;
}

.iconTxtWrapper{
  text-align: center;
  color: #d1d1d1;

}

.socialIcons{
  /* border: 1px solid red; */
  height: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialIcons i{
  font-size: 1.2rem;
  cursor: pointer;
}

.cardPost{
  border: 2px solid #444;
  background-color: #111;
  color: #d1d1d1;
  border-radius: .5rem;
  margin: 1.5rem .5rem ;
  padding: 0 .5rem .5rem ;
  position: relative;
}

.postsWrapper .cardPost:nth-last-child(1){
  margin-bottom: 8rem;
}

.cardSignature{
  font-size: .8rem;
  text-align: left;
  text-transform: lowercase;
  color: #848484;
  cursor: pointer;
}

.postUserNick{
  font-size: .8rem;
}
.postUserNick:hover{
  color: #d1d1d1;
}