.perfil{
  border: 1px solid #444;
  border-radius: .3rem;
  width: 100%;
  padding-bottom: 1rem ;

}

.savedItensWrap{
  /* border: 1px solid red; */
  grid-template-columns: repeat(3, 1fr);
  
  display: grid;
  gap: 1rem 0;
  justify-content: center;
  align-items: center;
}

.cardSavedItens{
  /* border: 1px solid pink; */
  box-shadow: #000 0 0 .7rem, inset #9997 0 0 .3rem;
  border-radius: 1rem;
  background-color: #2227;
  height: 7rem;
  width: 7rem;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template-columns: repeat(1, 1fr);
  font-size: .2rem;

}
.cardSavedItens p:nth-child(2){
  color: white;
  font-size: 1.4rem;
}
.cardSavedItens i{
  font-size: 1.2rem;
  margin: .5rem;
  color: #439a86;

}
.iconWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardSpan{
  font-size: .8rem;
  text-align: center;
  /* border: 1px solid white; */
  height: 40px;
  /* margin-left: .3rem; */
  margin: auto;
  width: 100%;
  text-align: center;
}